<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间-->
<mapper namespace="per.will.game.mapper.UserMapper">

    <!--用户信息map-->
    <resultMap id="user" type="per.will.game.domain.dto.User">
        <id column="id" property="id"/>
    </resultMap>

    <!--通过id获取单个用户-->
    <select id="getUserById" parameterType="java.lang.Long" resultMap="user">
        SELECT id, username, password, nickname
        FROM `user`
        WHERE id = #{id}
    </select>

    <!--通过用户名获取-->
    <select id="getUserByUserName" parameterType="java.lang.String" resultMap="user">
        SELECT id, username, password, nickname
        FROM `user`
        WHERE username = #{userName}
    </select>

    <!--获取用户列表-->
    <select id="getUserList" resultMap="user">
        SELECT id, username, password, nickname
        FROM `user`
    </select>

    <!--创建用户-->
    <insert id="insertUser" parameterType="per.will.game.domain.dto.User">
        INSERT INTO `user`(username, password, nickname, created)
        VALUES (#{username}, #{password}, #{nickname}, NOW())
    </insert>

    <update id="updateUser" parameterType="per.will.game.domain.dto.User">
        UPDATE `user`
        SET
        <if test="userName != null and userName != ''">
            username=#{username},
        </if>
        <if test="password != null and password != ''">
            password=#{password},
        </if>
        <if test="nickname != null and nickname != ''">
            nickname=#{nickname},
        </if>
        updated = NOW()
        WHERE id = #{id}
    </update>

</mapper>